html *
{
    font-size: 1.05em;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chat-input {
  position: fixed;
  padding: 0.2em;
  background-color: #ddd;
}

.chat-input input[type="text"] {
  width: calc(50vw - 1em);
  padding: 0.6em;
  border: none;
}

.chat-input button {
  padding: 0.5em;
  border: none;
  background-color: SkyBlue;
  color: white;
  cursor: pointer;
}

.chat-window {
  flex: 1;
  padding: 0.2em;
  margin-top: 2.3em;
}

@media only screen and (max-width: 60em) {
  .chat-input input[type="text"] {
    width: calc(100vw - 6.5em);
  }

  .chat-input button {
    padding: 0.8em 1em;
  }
}


.tab-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.tab {
  overflow: hidden;
  border: 0.1em solid #ccc;
  background-color: #f1f1f1;
}

/* 탭 버튼 스타일 */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5em 1em;
  transition: 0.3s;
}

/* 활성화된 탭 버튼 스타일 */
.tab button.active {
  background-color: #ccc;
}

/* 탭 컨텐츠 스타일 */
.tabcontent {
  display: none;
  padding: 0.2em 0em;
  border: 0.1em solid #ccc;
  border-top: none;
  margin-top: 2.0em;
}
